@import "shared";

body {
  color: $color-light;
  background: $color-primary;
}

h2,
h3,
h4,
h5,
h6 {
  color: $color-secondary;
}

h3 {
  margin-top: 5vh;
}

ul > li {
  margin-top: $spacing-small;

  &::marker {
    color: $color-secondary;
  }
}

ul {
  list-style-type: square;
}

.main {
  position: relative;
  z-index: 10;
  margin-top: 5vmin;
  fill: $color-primary;

  @include media($md-up) {
    font-size: $font-size-large;
  }
}

.intro {
  padding: 2vw;
  background: $color-primary-accent;
}

.intro__inner {
  font-size: 1.5rem;
}
