@import "shared";

html,
body {
  color: $color-light;
  background: $color-primary;
}

h2,
h3,
h4,
h5,
h6 {
  color: $color-secondary;
}

h3 {
  margin-top: 4vh;
}

ul > li {
  margin-top: $spacing-small;

  &::marker {
    color: $color-secondary;
  }
}

ul {
  list-style-type: square;
}

.main {
  position: relative;
  z-index: 10;
  color: $color-light;
  fill: $color-light;

  @include media($md-up) {
    margin-top: 5vmin;
    font-size: $font-size-large;
  }

  @media print {
    margin-top: 3vw;
  }
}

.intro {
  border: $spacing-base solid transparent;
  padding: 2vw;
  min-width: 50vw;
  background: $color-primary-accent;

  @include media($sm-down) {
    margin-top: -2vw;
    margin-left: -4vw;
    margin-right: -4vw;
  }

  @include media($md-up) {
    font-size: $font-size-larger;
  }
}

.intro__inner {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-top: 0;
  }
}

.intro__left {
  width: 65%;
}

.intro__right {
  width: 30%;
}
