body {
  background: $color-primary;
}

.main {
  position: relative;
  z-index: 10;
  border: 20px solid transparent;
  padding: 2vw;
  min-width: 50vw;
  color: $color-light;
  fill: $color-light;
  box-shadow: 0 3px 3px rgba($color-dark, 0.2);
  background: $color-primary-accent;

  @include media($md-up) {
    transform: translateY(-40%);
    display: table;
    margin: 10vmax auto 0;
    font-size: $font-size-large;
    text-align: center;
  }
}

h1 {
  position: relative;
  display: inline-block;

  @include media($sm-down) {
    font-size: 1.75rem;
  }
}
