body {
  background: $color-primary;
}

.hi {
  font-size: 4rem;
}

.hand {
  display: inline-block;
  transform-origin: 75% 60%;
  animation: wave 3s infinite ease-in-out;
}

.main {
  position: relative;
  z-index: 10;
  border: 20px solid transparent;
  padding: 2vw;
  min-width: 50vw;
  color: $color-light;
  fill: $color-light;
  box-shadow: 0 3px 3px rgba($color-dark, 0.2);
  background: $color-primary-accent;

  @include media($md-up) {
    display: table;
    margin: 5vmax auto 0;
    font-size: $font-size-large;
    text-align: center;
  }
}

h1 {
  position: relative;
  display: inline-block;

  @include media($sm-down) {
    font-size: 1.75rem;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  16.7% {
    transform: rotate(25deg);
  }
  33% {
    transform: rotate(0deg);
  }
}
