html {
  font-size: calc(1rem + 0.2vmin);
  background-color: papayawhip;
  background-image: linear-gradient(
    to bottom right,
    papayawhip 0%,
    lavenderblush 50%,
    seashell 100%
  );
}

body {
  min-height: 100vh;

  @include media($lg-up) {
    @include media(min-height $md-width) {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}

.card-container {
  display: grid;
    grid-template-areas:
      'b'
      'a'
      'c'
      'd'
    ;

  @include media($sm-up) {
    grid-template-areas:
      'b a'
      'c c'
      'd d';
  }

  @include media($md-up) {
    grid-template-areas:
      'b a'
      'b c'
      'd d';
  }

  @include media($lg-up) {
    @include media(min-height $md-width) {
      display: grid;
      min-width: 80vmin;
      min-height: 80vmin;
      grid-template-areas:
        'a b'
        'c d';
      filter: drop-shadow(0 0 5vmin rgba(palevioletred, 0.5));
    }
  }
}

.card {
  display: block;
  padding: $spacing-base;

  &--profile {
    background-color: lavender;
    background-image: linear-gradient(
      to bottom right,
      lemonchiffon 0%,
      plum 70%,
      orchid 100%
    );
  }

  &--photo {
    padding: 0;
    background-image: linear-gradient(
      to bottom right,
      orchid 0%,
      plum 30%,
      lemonchiffon 100%
    );

    img {
      display: block;
      margin: auto;
      background-blend-mode: overlay;
      max-width: 240px;
    }
  }

  &--contact {
    background-color: palevioletred;
    background-image: linear-gradient(
      to bottom left,
      palevioletred 0%,
      palegoldenrod 100%
    );
  }

  &--copyright {
  }

  &--profile {
    grid-area: a;
  }

  &--photo {
    grid-area: b;
  }

  &--contact {
    grid-area: c;
  }

  &--copyright {
    grid-area: d;
  }

  @include media($lg-up) {
    @include media(min-height $md-width) {
      &--large {
        width: 45vmin;
        height: 45vmin;
      }

      &--medium {
        width: 35vmin;
        height: 35vmin;
      }

      &--small {
        width: 25vmin;
        height: 25vmin;
      }

      &--profile {
        align-self: flex-end;
        justify-self: flex-end;
      }

      &--photo {
        align-self: flex-end;
      }

      &--contact {
        justify-self: flex-end;
        align-self: flex-start;
      }

      &--copyright {
      }
    }
  }
}
